#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  width: 25%;
  height: auto;
  padding: 3em 8em 3em 8em;
}

.App {
  background: beige;
  padding: 0 0 7em 0;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}

.myself {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}
