#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  width: 25%;
  height: auto;
  padding: 3em 8em 3em 8em;
}

.App {
  background: beige;
  border-radius: 10px;
  text-align: center;
  width: 70%;
}

.myself {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.interests-container {
  padding: 0 0 1em 0;
}

.footer-container {
  background: gray;
  border-radius: 0 0 10px 10px;
  padding: 0 0 1.5em 0;
}
